:root{
    --titleFont: "Mantinia";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span{
    font-family: var(--titleFont);
    color: #dfb731;
}

span{
    font-weight: 600;
}

p{
    color: #fcfcfc;
}

h1{
    font-size: 2em;
}

h2, span{
    margin: 0.2em 0;
}

body{
    background-image: url(./elden_ring_siofra_river_by_eluidess_df3e9x2-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.black-bg{
    height: 100vh;
    background: linear-gradient(#00000088, #00000088);
    animation: filter 6s infinite ease-in-out;
}

.modal-card{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.modal-card .card{
    width: 23em;
    background-color: #eeeeee33;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.modal-card .card h1, .modal-card .card h2{
    text-align: center;
}

.modal-card .card .border{
    border: 2px solid #e3bd40;
    box-shadow: 0 0 0.4em #f1ce59;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
}

.modal-card .card .border img{
    width: 16em;
}

@keyframes filter {
    0%{
        background: #000000aa;
    }

    50%{
        background: #00000066;
    }

    100%{
        background: #000000aa;
    }
}